<form class="card-search-form" action="#" method="post">
    <div class="form-field card-name-field">
        <label for="name">Card name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="form-field expansion-name-field">
        <label for="set">Expansion</label>
        <input type="text" name="set" id="set">
    </div>
    <div class="form-field card-type-field">
        <label for="supertype">Card type</label>
        <select name="supertype" id="supertype">
            <option value="pokemon">Pokemon</option>
            <option value="energy">Energy</option>
            <option value="trainer">Trainer</option>
        </select>
    </div>
    <!-- <div class="form-field pokemon-type-field">
        <label for="types">Pokemon type</label>
        <select name="types" id="types">
            <option value="colorless">Colorless</option>
            <option value="darkness">Darkness</option>
            <option value="dragon">Dragon</option>
            <option value="fairy">Fairy</option>
            <option value="fighting">Fighting</option>
            <option value="fire">Fire</option>
            <option value="grass">Grass</option>
            <option value="lightning">Lightning</option>
            <option value="metal">Metal</option>
            <option value="psychic">Psychic</option>
            <option value="water">Water</option>
        </select>
    </div> -->
</form>