<!-- form action should save the deck that the user made -->
<form action="#" method="POST">
    <div class="form-field">
        <label for="deckName">Deck Name</label>
        <input type="text" name="deckName" id="deckName">
    </div>
    <div class="btn-field align-text-left">
        <button class="btn btn-info" type="button">Save Deck</button>
    </div>
    <div class="btn-field align-text-left">
        <a class="btn btn-info" id="exportTabletopBtn" role="button" href="#">Export to Tabletop</a>
    </div>
</form>