<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="/javascripts/main.js"></script>
    <title>Pallet Town</title>
    <link rel="shortcut icon" href="/images/porygon.png" type="image/x-icon">
</head>

<body>
    <div class="body-grid">
        <%- include('../partials/header.ejs') %>
        <main>
            <%- include('../partials/messages.ejs') %>
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>

</html>