<div class="about container">
    <h2>About</h2>

    <p>Hi, my name is Brent</p>

    <p>When I was a kid in elementary school, I used to play the Pokémon TCG a lot! As I got older, I started to play
        other tabletop games, and eventually discovered Tabletop Simulator. I thought it was awesome
        how people could use TTS to play pretty much any board game they wanted for free</p>

    <p>One summer, a few of my friends and I started using TTS to play Magic: The Gathering. Normally, importing the
        decks that we wanted to play into TTS would be a long and arduous process, but thankfully <a
            href="https://www.frogtown.me/">someone had made an online tool</a> to facilitate that process
    </p>

    <p>
        A tool like this did not exist for the Pokémon TCG though, and I got the idea that maybe I could do make one!
        I already had some prior programming experience, but I still needed to learn a lot in order to make this site.
        It took months to make, but in the end I'm happy with how this site turned out :)
    </p>

    <p>I hope you enjoy Pallet Town!</p>

    <h3>Special Thanks</h3>
    <ul>
        <li>
            <a href="https://www.frogtown.me/">FrogTown!</a> Without
            it, Pallet Town would have never existed
        </li>
        <li><a href="https://www.youtube.com/channel/UCFbNIlppjAuEX4znoulh0Cw">Kyle from WebDev
                Simplified</a>, I learned almost all I know about web development from watching his videos</li>
        <li><a href="https://pokemontcg.io/">Pokémon TCG Developers</a> for the awesome Pokémon TCG API! Getting all the
            Pokémon cards would be much, much harder without them</li>
        <li>You! Thank you for using this site, or at least checking it out. If you would like to support Pallet Town,
            please consider <a href="https://paypal.me/BrentPappas">donating by
                clicking here </a>
        </li>
    </ul>
</div>