<h2>About</h2>

<p>Hi, my name is Brent</p>

<p>I am an undergraduate student at University of Central Florida studying Computer Science</p>

<p>I made this site for two reasons:</p>

<ol>
    <li>To give people an easy tool to make Pokemon decks to play with in the game Tabletop Simulator</li>
    <li>To practice my programming skills</li>
</ol>

<p>I hope you enjoy Pallet Town!</p>

<p>Also, if you like Magic: The Gathering then I strongly recommend visiting our neighbor, <a
        href="https://www.frogtown.me/">Frog
        Town!</a></p>