<h2>Home</h1>
    <% if (!req.user) { %>
    <a href="/users/login">Log in</a>
    <% } %>
    <% if (req.user) { %>
    <form action="/users/logout?_method=delete" method="POST"><button type="submit">Log out</button></form>
    <% } %>