<div class="deckbuilding-layout">
    <div class="card-search">
        <h2>Add cards</h2>
        <%- include('./partials/_form_fields_card_search.ejs') %>
        <div class="card-grid card-search-grid">
            <!-- <div style="background-color:red;">Example</div>
            <div style="background-color:green;">Example</div>
            <div style="background-color:blue;">Example</div>
            <div style="background-color:yellow;">Example</div> -->
        </div>
    </div>
    <div class="current-deck">
        <h2>Current deck</h2>
        <div class="card-grid deck-grid">

        </div>
    </div>
</div>