@import 'shared/variables.css';
@import 'shared/buttons.css';
@import 'shared/cards.css';
@import 'shared/fonts.css';
@import 'shared/forms.css';
@import 'shared/messages.css';
@import 'shared/nav.css';
@import 'shared/header.css';
@import 'shared/footer.css';

/* TODO: Masterball style sheet for dark theme */

:root {
    font-family: "Open Sans";
    font-size: 24px;
    color: var(--color-dark);
}

@media only screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* background-color: var(--color-blue); */
    background-color: var(--color-light);
    color: var(--color-dark);
}

.body-grid {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-rows: min-content 1fr min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.small {
    font-size: smaller;
}

body,
main,
footer {
    margin: 0;
}

header,
main,
footer {
    padding: 0 1.5rem
}

/* put these here since they go with main layout */
header {
    grid-area: "header";
}

main {
    grid-area: "main";
}

footer {
    grid-area: "footer";
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

p a {
    color: var(--color-teal);
}

a:hover {
    font-weight: bold;
}