@import 'shared/variables';
@import 'shared/buttons.css';
@import 'shared/cards.css';
@import 'shared/fonts.css';
@import 'shared/form.css';
@import 'shared/header.css';

:root {
    font-family: "Open Sans";
    font-size: 24px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}