<h2>Decks by <%= user.username %></h2>
<div class="card-grid">
    <!-- have to account for imageUrlHiRes property of dataset being renamed to lowercase -->
    <% decks.forEach(deck => { %>
    <a href="/decks/edit/<%= deck.id %>"><%= deck.name %>
        <% if (deck.cards.length > 0) { %>
        <div class="card"
            style="background-image:
            url('<%=deck.cards[0].imageUrlHiRes != null ? deck.cards[0].imageUrlHiRes : deck.cards[0].imageurlhires%>')" alt=""></div>
        </div>
        <% } %>
    </a>
    <% }) %>
</div>