:root {
    --card-width: 200px;
    /* actual cards are 6.3cm x 8.8cm */
    --card-aspect-ratio: calc(6.3 / 8.8);
    --card-margin-bottom: 2rem;
    --card-count-font-size: 1rem;
}

/* should only have 2 children */
.deckbuilding-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-grid {
    /* tried to use a grid but flex is just so easy */
    display: flex;
    justify-items: start;
    flex-wrap: wrap;
}

.card-grid * {}

.card-container {
    position: relative;
}

.card {
    margin: 0.2rem;
    width: var(--card-width);
    height: calc(var(--card-width) / var(--card-aspect-ratio));
    background-position-x: center;
    background-size: cover;
    position: relative;
}

.card[data-count] {
    margin-bottom: var(--card-margin-bottom);
}

.card[data-count]::after {
    content: attr(data-count);
    font-size: var(--card-count-font-size);
    color: black;
    font-weight: 900;
    position: absolute;
    z-index: 10;
    bottom: calc(-1.5*var(--card-count-font-size));
    right: 0.5rem;
}

/* TODO: Add some sort of image preview class */
.preview {}