form {
    display: grid;
    gap: 0.5rem;
}

form input,
form select {
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    background-color: var(--color-teal);
    box-shadow: none;
    border: none;
    font-size: 1rem;
    color: white;
    outline: none;
}

form select {
    width: fit-content;
}

form select option:checked {
    background-color: var(--color-blue);
}

form input:focus {
    border: 3px solid var(--color-success);
}

.form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.2rem;
}

.user-form {
    grid-auto-rows: min-content;
    width: fit-content;
}

.btn-field {
    display: inline-block;
    text-align: right;
}


/* looks good on desktop but doesn't scale well */
/* .card-search-form {
    grid-template-areas:
        "name set"
        "supertype types";
    justify-content: start;
} */

.card-search-form {
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.card-search-form * {
    margin: 0.2rem;
}

.card-name-field {
    grid-area: name;
}

.expansion-name-field {
    grid-area: set;
}

.card-type-field {
    grid-area: supertype;
}

.pokemon-type-field {
    grid-area: types;
}