nav {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav:first-child {
}

.nav-ul {
    flex-grow: 1;
    display: flex;
    list-style-type: none;
}

.nav-ul li {
    padding-left: 1.5rem;
}

.nav-ul li a {
    text-decoration: none;
}