<div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= typeof username != 'undefined' ? username : "" %>" />
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="<%= typeof password != 'undefined' ? password : "" %>" />
</div>
<% if (typeof canEdit != 'undefined') { %>
<div>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= typeof email != 'undefined' ? email : "" %>" />
</div>
<% } %>
<div>
    <input type="submit" value="<%= submitMessage %>" />
</div>