<div class="form-field">
    <label for="username">Username:</label>
    <input class="form-input" form-input type="text" name="username"
        value="<%= typeof username != 'undefined' ? username : "" %>" />
</div class="form-field">
<div class="form-field">
    <label for="password">Password:</label>
    <input class="form-input" form-input type="password" name="password"
        value="<%= typeof password != 'undefined' ? password : "" %>" />
</div>
<div class="form-field">
    <button class="btn btn-info" type="submit" value><%= submitMessage %></button>
</div>