<p>
    If you have registered an email with your account,
</p>
<p>
    you can enter it below to have a password reset email sent to you
</p>


<form class="reset-password-form" action="/users/requestPasswordReset" method="post">
    <div class="form-field">
        <label for="username">Email:</label>
        <input class="form-input" type="email" required name="email" value="" />
    </div class="form-field">
    <div class="form-field">
        <button class="btn btn-info" type="submit">Send reset password email</button>
    </div>
</form>