<form class='reset-password-form' action="/users/resetPassword/<%= userToUpdate.passwordResetToken %>" method="post">
    <input hidden class="form-input" type="text" name="username" value="<%= userToUpdate.username %>" />
    <div class="form-field">
        <label for="newPassword">New password:</label>
        <input class="form-input" type="password" name="newPassword" value="" />
    </div>
    <div class="form-field">
        <label for="confirmNewPassword">Confirm new password:</label>
        <input class="form-input" type="password" name="confirmNewPassword" value="" />
    </div>
    <div class="form-field">
        <button class="btn btn-info" type="submit">Reset password</button>
    </div>
</form>